@using FurnitureStore3.Domain.Entities
@model ProductsCatalogViewModel
<style>
    h2 {
        padding: 20px 0;
        text-align: center;
    }

    .main {
        padding: 20px;
    }

    section {
        margin-bottom: 20px;
    }

    h3 {
        margin-bottom: 20px;
    }
</style>

@{
    <div class="content">
        <h2>Стоимость доставки</h2>
        <p>
            Стоимость доставки определяется в соответствии с нижеприведенной схемой транспортной компании.<br>

            Стоимость доставки в пределах города составляет от 1600 рублей (без учета стоимости работы грузчиков).<br>

            Доставки товара за пределы города оплачивается из расчета: 1600 рублей + 60 рублей за каждый километр от ближайших к адресу доставок транспортных развязок городов присутствия (без учета стоимости работы грузчиков).<br>

            Доставка товара к определенному времени (с интервалом в два часа) оплачивается по двойному тарифу.<br>

            Услуги сборки: от 1000 р.<br>

            Подъём: от 500 р. — 1 этаж, на лифте – от 800 р.
        </p>

        <h2>Самовывоз</h2>
        <p>
            Самовывоз возможен только по будним дням по вторникам, средам и пятницам с 10:00 до 17:00.<br>

            Самовывоз осуществляется только по предварительному согласованию.<br>

            Перед самовывозом мебели со складов необходимо в одном из магазинов или в офисе оформить документы на самовывоз.
        </p>

        <h2>Прочие условия доставки</h2>
        <p>
            Перед заказом мебели обязательно измерьте все дверные проемы на пути заноса изделия в комнату.<br>

            Доставка мебели осуществляется ежедневно с 10:00 до 22:00, а условия доставки по праздничным и выходным дням оговариваются с сотрудниками дополнительно. При отсутствии Покупателя в оговорённое время, а также при отсутствии документов, подтверждающих факт покупки, товар возвращается на склад Продавца. В этом случае повторная доставка оплачиваются Покупателем дополнительно. Стоимость повторной доставки указывается дополнительно.<br>

            Передача (приемка) изделий Покупателю производится непосредственно при выгрузке доставленного заказа, при самостоятельном осуществлении заноса. Покупатель имеет право воспользоваться дополнительными услугами транспортной компании. Перевозчиком могут осуществляется услуги по подъему и сборке изделий согласно утвержденных тарифов, действующих в текущем месяце. Обращаем Ваше внимание, Покупатель обязан заранее подготовить место приемки мебели, подготовить и защитить покрытие пола, стены, убрать с пути вноса предметы интерьера. В противном случае претензии на возмещение ущерба, полученные при заносе мебели транспортными компаниями не рассматриваются.<br>

            Дату и время доставки с Покупателем согласовывают сотрудники ООО «ТД «Пинскдрев», после чего передают заявки в службы доставки транспортных компаний. Без предварительной договоренности по телефону доставка не производится, даже если дата доставки наступила.<br>

            При приемке изделия Покупатель должен сам расписаться в Товарной Накладной (Акте приемки-передачи) или уполномочить своего представителя доверенностью. В случае неисполнения данной обязанности, представитель транспортной компании имеет право не передавать заказ лицу, находящемуся на момент доставки по адресу, указанному в договоре.<br>

            Доставка товара транспортными компаниями осуществляется в г. Екатеринбург, а также по территории УФО, кроме того возможна доставка по всей территории Российской Федерации силами привлечённых транспортных компаний, оказывающих транспортные услуги доставки в необходимый город или регион России.
        </p>

    </div>
}
