@using FurnitureStore3.Domain.Entities
@model ProductsCatalogViewModel
<link rel="stylesheet" href="~/styles/PW.css" />

@{
    <div class="content">
        <div class="header">
            <h2>Гарантийное обслуживание неисправного товара</h2>
        </div>
        <section class="description-section">
            <p>Если в купленном Вами товаре в течение установленного гарантийного срока обнаружены недостатки, Вы по своему выбору вправе:</p>
            <ul>
                <li>потребовать замены на товар этой же марки (этой же модели и (или) артикула)</li>
                <li>потребовать замены на такой же товар другой марки (модели, артикула) с соответствующим перерасчетом покупной цены;</li>
                <li>потребовать соразмерного уменьшения покупной цены;</li>
                <li>потребовать незамедлительного безвозмездного устранения недостатков товара или возмещения расходов на их исправление потребителем или третьим лицом;</li>
                <li>отказаться от исполнения договора купли-продажи и потребовать возврата уплаченной за товар суммы. В этом случае Вы обязаны вернуть товар с недостатками продавцу за его счет.</li>
            </ul>
            <p>В отношении <a href="https://www.consultant.ru/document/cons_doc_LAW_121597/#p20">технически сложного товара</a> Вы в случае обнаружения в нем недостатков по своему выбору вправе:</p>
            <ul>
                <li>отказаться от исполнения договора купли-продажи и потребовать возврата уплаченной за такой товар суммы;</li>
                <li>предъявить требование о его замене на товар этой же марки (модели, артикула) или на такой же товар другой марки (модели, артикула) с соответствующим перерасчетом покупной цены.</li>
            </ul>
            <p>
                Срок предъявления вышеназванных требований составляет 15 дней со дня передачи Вам такого товара.
                По истечении указанного 15-дневного срока данные требования подлежат удовлетворению в одном из следующих случаев:
            </p>
            <ul>
                <li>обнаружение существенного недостатка товара (существенный недостаток товара: неустранимый недостаток или недостаток, который не может быть устранен без несоразмерных расходов или затрат времени, или выявляется неоднократно, или проявляется вновь после его устранения);</li>
                <li>нарушение установленных законом РФ «О защите прав потребителей» сроков устранения недостатков товара;</li>
                <li>невозможность использования товара в течение каждого года гарантийного срока в совокупности более чем тридцать дней вследствие неоднократного устранения его различных недостатков.</li>
            </ul>
            <p calss="description">В случае если Вы приобрели уцененный или бывший в употреблении товар ненадлежащего качества, и были заранее предупреждены о недостатках, из-за которых произошла уценка, в письменной форме, то претензии по таким недостаткам не принимаются.</p>
            <p calss="pclass">Важно! Необходимо использовать услуги квалифицированных специалистов по подключению, наладке и пуску в эксплуатацию технически сложных товаров, которые по техническим требованиям не могут быть пущены в эксплуатацию без участия соответствующих специалистов.</p>
        </section>
    </div>
}
