@using FurnitureStore3.Domain.Entities
@model ProductsCatalogViewModel
<link rel="stylesheet" href="~/styles/TR.css" />

@{
    <div class="content">
        <div class="container">
            <div class="header">
                <h1 class="h1h">Возврат, обмен или гарантийный ремонт</h1>
            </div>
            <div class="content">
                <h2 class="procedur">Процедура возврата товара</h2>
                <div class="product">
                    <div class="product-image"><img src="https://a.dns-shop.ru/static/06/1nfic0t/static/product-good.png"></div>
                    <div class="product-description">
                        <h3 class="list-element">Товар надлежащего качества</h3>
                        <p>
                            Вы вправе обменять товар надлежащего качества на аналогичный товар в течение 14 дней, не считая дня покупки.

                            Обращаем Ваше внимание, что основная часть нашего ассортимента – технически сложные товары бытового назначения (электроника, фотоаппаратура, бытовая техника и т.п.).

                            Указанные товары, согласно <a href="https://www.consultant.ru/document/cons_doc_LAW_373622/">Постановлению Правительства РФ от 31.12.2020 № 2463</a> , обмену как товары надлежащего качества не подлежат. Возврат таких товаров не предусмотрен <a href="https://www.consultant.ru/document/cons_doc_LAW_305/">Законом РФ от 07.02.1992 № 2300-1.</a>
                        </p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-image"><img src="https://a.dns-shop.ru/static/06/1nfic0t/static/product-bad.png"></div>
                    <div class="product-description">
                        <h3 class="list-element">Товар ненадлежащего качества</h3>
                        <p>
                            Если в приобретенном Вами товаре выявлен недостаток вы вправе по своему выбору заявить одно из требований, указанных в <a href="https://www.consultant.ru/document/cons_doc_LAW_305/76ae101b731ecc22467fd9f1f14cb9e2b8799026/">ст.18 Закона РФ от 07.02.1992 № 2300-1 (ред. от 04.08.2023) О защите прав потребителей.</a> Для этого можете обратиться в наш сервисный центр. Для поиска подходящего сервисного центра воспользуйтесь сервисом по поиску сервисного центра.
                            Тем не менее, если указанный товар относится к технически сложным, утв. <a href="https://www.consultant.ru/cons/cgi/online.cgi?rnd=2719F34FF8433314A08EAC4961C255BC&req=doc&base=LAW&n=321359&REFDOC=204874&REFBASE=LAW#1ik62axyoee">Постановлением от 10 ноября 2011 г. № 924</a> , то указанные в ст.18 требования могут быть заявлены только в течение 15 календарных дней с даты покупки.

                            По истечении 15 дней предъявление указанных требований возможно в случаях если:

                            обнаружен существенный недостаток;
                            нарушены сроки устранения недостатков;
                            товар не может использоваться в совокупности более тридцати дней в течение каждого года гарантийного срока в связи с необходимостью устранения производственных недостатков.
                        </p>
                    </div>
                </div>
                <div class="product">
                    <div class="product-image"><img src="https://a.dns-shop.ru/static/06/1nfic0t/static/lost-check.png"></div>
                    <div class="product-description">
                        <h3 class="list-element">Потеряли чек?</h3>
                        <p>При обнаружении недостатков приобретенного у нас товара Вам достаточно сообщить номер телефона сотруднику магазина, указанный при покупке. Мы найдем вашу покупку по номеру телефона. Для подтверждения на указанный номер телефона придет смс с проверочным кодом, Вам потребуется только сообщить указанный код сотруднику сервиса.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}