@using FurnitureStore3.Domain.Entities
@model ProductsCatalogViewModel
<style>
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2{
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 20px;
}

p {
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 20px;
  line-height: 1.4;
}
</style>

@{
    <div class="content">
                <h2>Пользование сервисом</h2>
                <div class ="main">
                <section>
                    <h3>Процесс выбора и покупки мебели</h3>
                    <p>Приобретая новую мебель для вашего дома или офиса, вы стремитесь создать уютное и стильное пространство, которое будет радовать вас на протяжении долгого времени.<br>
                        Первым шагом в выборе мебели является определение вашего бюджета и потребностей. Решите, какие предметы мебели вам необходимы и какой стиль и цветовая гамма соответствуют вашему вкусу и интерьеру. <br>
                        При выборе мебели обращайте внимание на ее качество и функциональность. Уделяйте внимание материалам, из которых изготовлена мебель, и ее конструкции.
                        Выбрав и заказав мебель, остается только дождаться доставки и установки. 
                    </p>
                </section>

                <section>
                    <h3>Доставка и установка товаров</h3>
                    <p>Наши профессиональные специалисты готовы предложить вам услугу доставки и установки мебели. 
                        Мы понимаем, насколько важно для вас быстро и качественно оформить интерьер вашего дома или офиса, поэтому мы гарантируем быструю и бережную доставку заказанных вами товаров, а также их качественную установку на месте.<br>
                        Наши специалисты имеют богатый опыт и знания в области мебельной сборки, что позволяет им устанавливать мебель любой сложности быстро и безошибочно. Мы работаем профессиональным инструментом и оборудованием, что позволяет нам гарантировать безопасность и надежность установки мебели.<br>
                        Наши профессиональные специалисты готовы предложить вам услугу доставки и установки мебели. Мы понимаем, насколько важно для вас быстро и качественно оформить интерьер вашего дома или офиса, поэтому мы гарантируем быструю и бережную доставку заказанных вами товаров, а также их качественную установку на месте.

Наши специалисты имеют богатый опыт и знания в области мебельной сборки, что позволяет им устанавливать мебель любой сложности быстро и безошибочно. Мы работаем профессиональным инструментом и оборудованием, что позволяет нам гарантировать безопасность и надежность установки мебели.

Мы ценим ваше время и комфорт, поэтому наши специалисты всегда приезжают точно в назначенное время и выполняют работу быстро и качественно. Наша цель - сделать вашу жизнь проще и уютнее, обеспечивая вам высококачественные услуги по доставке и установке мебели.</p>

                </section>

                <section>
                    <h3>Условия возврата и обмена</h3>
                <p>Подробные <a a href="~/products/TermsReturn">условия возврата и обмена товаров.</a></p>
                </section>           
            </div>
    </div>
}